{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> This is the Home Page </h1>
            <p> this is some home text </p>
            <p>Click <a href="/about">here</a> to go to the About Page</p>
        </div>
    </div>
</div>
{{end}}